* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projects::-webkit-scrollbar {
  width: 1rem;
}

.projects::-webkit-scrollbar-thumb {
  background-color: #807772;
  /* background-color: #313131; */
  outline: 1px solid #000;
}
.projects::-webkit-scrollbar-corner {
  background-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
  /* background-color: #111315; */
  background-color: #1a1a1a;
}
header {
  color: #ffeee4;
  background-color: #313131;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.3rem;
}

.heading-primary {
  font-size: 4.6rem;
}
.heading-discription {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  /* word-spacing: 0.8rem; */
}

/* main {
  overflow: scroll;
} */

.projects {
  /* border: 0.5rem solid #f17f42; */
  border-top: 0.1rem solid #ec7144;
  border-right: 0.1rem solid #ec7144;
  border-left: 0.1rem solid #ec7144;
  width: 70%;
  /* height: 100%; */
  margin: 0 auto;
  color: #e6d6cd;
  overflow: scroll;
}

.project {
  display: flex;
  width: 70%;
  margin: 3.2rem auto;
  border: 2px solid #313131;
  gap: 2.6rem;
}

.project-img-container {
  width: 30%;
}

.project-img {
  width: 100%;
  transition: all 0.3s;
}
.project-img:hover {
  transform: scale(1.1);
}
.project-info {
  flex-basis: 70%;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  padding: 1.2rem 2rem;
}

footer {
  /* background-color: #495057; */
  border-top: 1px solid #313131;
  color: #807772;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 4.2rem 0; */
  gap: 2.2rem;
}

.socials {
  display: flex;
  gap: 4.2rem;
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  transition: fill 0.3s;
}

.twitter-icon:hover,
.linkedin-icon:hover,
.github-icon:hover {
  fill: #fff7f2;
}
